* {
  border: none;
  border-radius: 0;
  font-family: "hack nerd font";
  font-size: 13px;
}

window#waybar {
  background: rgba(26,27,38,0.15);
  color: white;
  border-radius: 5px;
}

tooltip {
	background: #1a1b26;
	color: #a9b1d6;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid #bb9af7
}

#workspaces {
  margin-right: 8px;
  border-radius: 5px;
  transition: none;
  background: transparent;
}

#workspaces button {
  transition: none;
  color: #a9b1d6;
  background: #15161e;
  padding: 5px 5px 3px 5px;
  font-size: 13px;
  border-bottom: 2px solid #15161e;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: 0px;
  color: #c0caf5;
  background: #414868;
  border-bottom: 2px solid #414868;
}

#clock {
  background: #15161e;
  color: #a9b1d6;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #ad8ee6;
}

#battery {
  background: #15161e;
  color: #a9b1d9;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #9ece6a;
}

#cpu {
  background: #15161e;
  color: #a9b1d6;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #e0af68;
}

#wireplumber {
	background: #15161e;
	color: #a9b1d6;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid #0db9d7;
}
#wireplumber.muted {
	color: #444b6a;
	border: 2px solid #444b6a;
}

#network {
	background: #15161e;
	color: #a9b1d6;
	padding: 5px 10px;
	border-radius:5px;
	border: none
}
#network.disconnected {
	color: #444b6a;
	border: 2px solid #444b6a;
}
#network.linked {
	color: #a9b1d6;
	border: 2px solid #787c99;
}
#network.ethernet, #network.wifi {
	color: #a9b1d6;
	border: 2px solid #7aa2f7;
}

#custom-sep {
  padding: 0px 4px;
  color: transparent;
  background: transparent;
}

#workspaces button.active {
  color: #7aa2f7;
  border-bottom: 2px solid #7aa2f7
}

#workspaces button.urgent {
  color: #f7768e;
  border-bottom: 2px solid #7aa2f7;
}

#workspaces button:nth-child(1) {
  border-radius: 5px 0px 0px 5px;
}
#workspaces button:nth-last-child(1) {
  border-radius: 0px 5px 5px 0px;
}
#workspaces button:only-child {
  border-radius: 5px;
}

