* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.9);
}

button {
	border-radius: 5px;
	border-color: #585b70;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #181825;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	border-color: #cba6f7;
	background-color: rgb(48, 50, 66);
	outline-style: none;
}


#lock {
    background-image: url("/home/sayori/.config/hypr/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/sayori/.config/hypr/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/sayori/.config/hypr/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/sayori/.config/hypr/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/sayori/.config/hypr/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/sayori/.config/hypr/wlogout/icons/reboot.svg");
}